@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
width: 20%;
display: flex;
align-items: center;
justify-content: center;
}
.logo img{
    width: 35%;
    border: 2px solid white;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    font-family: sans-serif;
    }
.navList{
padding-top: 6px;
width: 70%;
display: flex;
justify-content: center;
align-items: center;
top:0;
align-items: center;
}
.navList li{
list-style: none;
padding: 12px 25px;
}
.navList li a{
text-decoration: none;
color: white;
}
.navList li a:hover{
    color: gray;
    }
.rightNav{
    justify-content: center;
        width: 30%;
    text-align: right;
    margin: 23px;
}
.rightNav input{
    outline: none;
    padding: 4px 10px;
    border-radius: 13px;
    background-color: #c3c3c3;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.mainBox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
    padding-top: 41px;
}
.firstHalf{
    width: 65%;
    margin: auto;
}
.secondHalf{
width: 30%;
}
.secondHalf img{
    width: 213px;
    height: 112px;
    border-radius: 22px;
}
.text-big{
font-size: 41px;
padding-left: 36px;
}
.text-small{
    font-size: 15px;
    margin: 8px 33px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 6px 11px;
    background-color: transparent;
    border-radius: 5px;
    margin: 7px 7px;
    cursor: pointer;
    outline: none;
    color: white;
}
.btn-sm{
    padding: 6px 11px;
    background-color: transparent;
    border-radius: 5px;
    margin: 7px 7px;
    cursor: pointer;
    outline: none;
    color: white;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 369px; */
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.secSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paras{
    padding: 0 11px;
}
.section-Left{
    flex-direction: row-reverse;
}
.thumbnail img{
    border: 2px solid #cab9b9;
    width: 218px;
    border-radius: 7px;
    margin-top: 49px;
}
.contact{
    background-color: rgb(245 233 233);
    height: 116vh;
}
.text-center{
    text-align: center;
    padding: 9px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    max-width: 500px;
    margin: 42px auto;
}
.form input{
    margin: 20px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;

}
.btn-dark
{
    padding: 6px 11px;
    background-color: transparent;
    border-radius: 5px;
    margin: 7px 7px;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
}
.form-input{
    width: 100%;
    margin: 14px 0;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer{
    height: 43px;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px,0;
    color: white;
    text-align: center;
    padding-top: 18px;
}
.burger{
position: absolute;
right: 5%;
left: 15px;
cursor: pointer;
display: none;
top: 23%;
}
.line{
    width: 33px;
    margin: 3px 3px;
    height: 4px;
    background: white;
}
 @media screen and (max-width: 1038px) {
    .navList {
       /* Apply some styles */
     flex-direction: column;
    } 
    .navbar{
        flex-direction: column;
       height:310px;
        transition: all 0.7s ease-out;
        
       }
    .navbar input{
        outline: none;
        padding: 2px 0px;
        border-radius: 13px;
        background-color: #c3c3c3;
        /* float: right; */
        width: 83%;
    }
    .firstHalf{
        text-align: center;
    }
    .btn-sm{
        padding: 0px 0px;
        background-color: transparent;
        border-radius: 5px;
        margin: 11px 66px;
        cursor: pointer;
        outline: none;
        color: white;
    }
    .rightNav {
        justify-content: center;
        width: 30%;
        text-align: right;
        margin: 11px;
    }
    .contact {
        background-color: rgb(245 233 233);
        /* height: 76vh; */
    }
    .form-input{
        width: 90%;
        margin: 3px 9px;
        font-size: 16px;
        border: 2px solid grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn-dark
{
    color: rgb(0, 0, 0);
}
.text-big{
    font-size: 24px;
}
.secondHalf {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
}
.burger{
    display: block;
}
.h-nav-resp{
    height: 40px;
}
.v-class-resp{
    opacity: 0;
}
.firstSection {
    
}
.mainBox{
    flex-direction: column-reverse;
}
.form input {
    margin: 11px 5px;
    padding: 4px 0px;
    width: 94%;
    font-size: 12px;
    border: 2px solid grey;
    border-radius: 6px;
}
  }   
  